{% extends "base.html" %}
{% load static %}

{% block title %}Devices | User dashboard{% endblock title %}

{% block favicon_emoji %}📱{% endblock favicon_emoji %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/tables.css' %}">
{% endblock extra_css %}

{% block header_title %}User Devices{% endblock header_title %}

{% block section_class %}wide-section{% endblock section_class %}

{% block content %}
<h1>Connected devices</h1>
<p>If you do not recognize a device here, remove it!</p>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<hr>
{% if devices %}
  <table class="long-table">
    <colgroup>
      <col class="column-brand">
      <col class="column-model">
      <col class="column-last-active">
      <col class="column-action">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Last active</th>
        <th scope="col">Remove device?</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
        <tr>
          <td>
            {{ device.manufacturer }}
          </td>
          <td>
            {{ device.model }}
          </td>
          <td>
            {{ device.last_active }}
          </td>
          <td>
            <a class="action-button decline-action" aria-label="Remove device" title="Remove device" href="{{ device.remove_url }}">❌</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="highlight">There are no devices connected to this account currently.</p>
{% endif %}
{% endblock content %}
