{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Friends | User dashboard</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👥</text></svg>">
    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/friends.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Corben:wght@400;700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1 class="corben-bold">User Friends</h1>
    </header>

    <nav>
      <ul>
        <li>
          <a class="nav-item exo-2-generic" href="{% url 'dashboard:index' %}">Town 🏡</a>
        </li>
        <li>
          <a class="nav-item exo-2-generic" href="{% url 'dashboard:profile' %}">Profile 👤</a>
        </li>
        <li>
          <a class="nav-item exo-2-generic" href="{% url 'dashboard:friends' %}">Friends 👥</a>
        </li>
        <li>
          <a class="nav-item exo-2-generic" href="{% url 'dashboard:devices' %}">Devices 📱</a>
        </li>
        <li>
          <form id="logout" action="{% url 'dashboard:logout' %}" method="post">
            {% csrf_token %}
              <button class="nav-item exo-2-generic">Logout 🚪</button>
          </form>
        </li>
        {% if avatar_exists %}
          <li class="nav-profile-pic" style="background-image: url('{{ avatar_url }}')"></li>
        {% else %}
          <li class="nav-profile-pic" style="background-image: url('{% static 'dashboard/default-avatar.png' %}')"></li>
        {% endif %}
        <li class="nav-username">
          <p>Welcome, {{ username }}!</p>
        </li>
      </ul>
    </nav>

    <main>
      <article>
        <section class="wide-section">
          <h2>Friends hub</h2>
          <p>Send, accept or reject friend requests here.</p>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <hr>
          <form action="{% url 'dashboard:friends' %}" method="post">
            {% csrf_token %}
            {{ search_form }}
            <div>
              <button class="submit" name="search-form">Search</button>
            </div>
          </form>
          {% if search_matches %}
            <h2>Search results</h2>
            <hr>
            <table>
              <colgroup>
              <col class="column-avatar"> 
              <col class="column-username"> 
              <col class="column-checkbox"> 
              </colgroup>
              <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Add as a friend?</th>
              </tr>
              {% for match in search_matches %}
                <tr>
                  <td class="avatar">
                    <img src={{ match.avatar_url }} alt="" width="100" height="100">
                  </td>
                  <td>
                    {{ match.username }}
                  </td>
                  <td>
                    <a class="send-request" href="{{ match.invite_url }}">Add!</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
          {% if received_requests %}
            <h2>Pending incoming requests</h2>
            <hr>
            <table>
              <colgroup>
              <col class="column-avatar">
              <col class="column-username">
              <col class="column-checkbox">
              </colgroup>
              <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Add as a friend?</th>
              </tr>
              {% for match in received_requests %}
                <tr>
                  <td class="avatar">
                    <img src={{ match.avatar_url }} alt="" width="100" height="100">
                  </td>
                  <td>
                    {{ match.username }}
                  </td>
                  <td>
                    <a class="accept-request" href="{{ match.accept_url }}">Accept</a>
                    <a class="reject-request" href="{{ match.reject_url }}">Reject</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
          {% if sent_requests %}
            <h2>Pending outgoing requests</h2>
            <hr>
            <table>
              <colgroup>
              <col class="column-avatar">
              <col class="column-username">
              <col class="column-checkbox">
              </colgroup>
              <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Add as a friend?</th>
              </tr>
              {% for match in sent_requests %}
                <tr>
                  <td class="avatar">
                    <img src={{ match.avatar_url }} alt="" width="100" height="100">
                  </td>
                  <td>
                    {{ match.username }}
                  </td>
                  <td>
                    <a class="cancel-request" href="{{ match.cancel_url }}">Cancel</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
          {% if friends %}
            <h2>Friends</h2>
            <hr>
            <table>
              <colgroup>
              <col class="column-avatar">
              <col class="column-username">
              <col class="column-checkbox">
              </colgroup>
              <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Last active</th>
                <th>Remove friend?</th>
              </tr>
              {% for match in friends %}
                <tr>
                  <td class="avatar">
                    <img src={{ match.avatar_url }} alt="" width="100" height="100">
                  </td>
                  <td>
                    {{ match.username }}
                  </td>
                  <td>
                    {{ match.last_active }}
                  </td>
                  <td>
                    <a class="remove-request" href="{{ match.remove_url }}">Remove</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
        </section>
      </article>
    </main>

    <footer>
      <p>
        Server created by <a target="blank" href="https://github.com/al1sant0s">@al1sant0s</a>
      </p>
    </footer>

  </body>
</html>

