{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | User dashboard</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🪪</text></svg>">
    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Corben:wght@400;700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1 class="corben-bold">User Dashboard</h1>
    </header>

    <main>
      <article>
        <section>
          <h2>Login details</h2>
          <hr>
          <form action="{% url 'dashboard:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div id="reset-password" class="links">
              <a href="{% url 'dashboard:forgot_password' %}">Forgot password?</a>
            </div>
            <div>
              <button class="submit">Log in</button>
            </div>
          </form>
          <hr>
          <div class="bottom-link">
            <a href="{% url 'dashboard:register' %}">Register an account</a>
          </div>
        </section>
      </article>
    </main>

    <footer>
      <p>
        Server created by <a target="blank" href="https://github.com/al1sant0s">@al1sant0s</a>
      </p>
    </footer>

  </body>
</html>
