{% extends "base.html" %}
{% load static %}

{% block title %}Profile | User dashboard{% endblock title %}

{% block favicon_emoji %}👤{% endblock favicon_emoji %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/pictures.css' %}">
{% endblock extra_css %}

{% block header_title %}User Profile{% endblock header_title %}

{% block content %}
<h1>Edit user profile</h1>
<p>Change your avatar picture and username.</p>
{% if messages or profile_form.errors %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    {% for error in profile_form.non_field_errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
    {% for field in profile_form %}
      {% for error in field.errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
<hr>
<form class="profile-form" enctype="multipart/form-data" action="{% url 'dashboard:profile' %}" method="post">
  {% csrf_token %}
  <figure class="avatar">
    <figcaption>
      Avatar Picture
    </figcaption>
    <img src="{{ request.user.avatar_url }}" alt="" width="140" height="140">
  </figure>
  <p class="caption-paragraph">Requirements: PNG or JPG - 416x416 (or less) pixels.</p>
  {{ profile_form }}
  <div>
    <button type="submit" class="btn" name="profile-form">Upload</button>
  </div>
</form>
<hr id="mfa-account">
<h1>Multi-factor authentication</h1>
{% if user.is_authenticated and user.otp_device %}
  <p>MFA is currently <strong style="color: green;">enabled</strong> 🔐</p>
  <hr>
  <div>
    <a class="btn btn-danger" href="{% url 'two_factor:disable' %}">Disable MFA</a>
    <a class="btn btn-info" href="{% url 'two_factor:backup_tokens' %}">Backup Codes</a>
  </div>
{% else %}
  <p>Configure Multi-factor authentication (MFA)</p>
  <hr>
  <div>
    <a class="btn btn-info" href="{% url 'two_factor:setup' %}">Enable MFA</a>
  </div>
{% endif %}
<hr id="delete-account">
<h1>Delete user account</h1>
<p>‼️ Warning! Be <strong class="danger-emphasis">very careful</strong> with this. This action is <strong class="danger-emphasis">irreversible</strong>.</p>
<hr>
<div>
  <a class="btn btn-danger" href="{% url 'dashboard:delete_account' %}">Delete my account</a>
</div>
{% endblock content %}
