{% extends "base.html" %}

{% block title %}Register | User dashboard{% endblock title %}

{% block favicon_emoji %}🪪{% endblock favicon_emoji %}

{% block hamburger %}{% endblock hamburger %}

{% block header_title %}Register Account{% endblock header_title %}

{% block nav %}{% endblock nav %}

{% block content %}
<h1>Account details</h1>
<p>Insert your email to register an account.</p>
{% if messages or register_form.errors %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    {% for error in register_form.non_field_errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
    {% for field in register_form %}
      {% for error in field.errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
<hr>
<form action="{% url 'dashboard:register' %}" method="post">
  {% csrf_token %}
  {{ register_form }}
  <div>
    <button type="submit" class="btn">Register</button>
  </div>
</form>
<hr>
<div class="bottom-link">
  <a href="{% url 'dashboard:login' %}">Back to login</a>
</div>
{% endblock content %}
