.wide-section {
  width: 100%;
  max-width: 800px;
}

.wide-section label {
  font-size: 1.25rem;
}

.wide-section input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.05rem;
  padding: 12px 0 12px 25px;
}

.wide-section form div {
  text-align: left;
}

.wide-section form div:has(button) {
  text-align: right;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  margin: 0 auto;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

td.avatar img {
  border: 5px outset whitesmoke;
  border-radius: 5px;
}

th {
  font-size: 1.075em;
  font-weight: 700;
  background-color: rgb(235,235,235);
}

td {
  color: #5e4a10;
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #f0eba7;
}

tr:nth-child(odd) td {
  background-color: #f3ffbb;
}

caption {
  padding: 10px;
}


table div input {
  display: block;
  width: 250px;
  background-color: red;
}
