.profile-form fieldset {
  border: none;
}

legend[for="id_profile_avatar"] {
  display: none;
}

.avatar {
  text-align: center;
}

.avatar figcaption {
  color: maroon;
}

.avatar img {
  background-color: #e79563;
  border: 5px solid rebeccapurple;
  border-radius: 15px;
}

.caption-paragraph {
  text-align: center;
  color: rebeccapurple;
  font-weight: bold;
}
