
.profile-form fieldset {
  border: none;
}

.profile-form div {
  text-align: center;
}

.profile-form label {
  display: block;
}

legend[for="id_profile_avatar"] {
  display: none;
}

#delete-account {
  margin-top: 1000px;
}

.dangerous a {
  color: #4a0000;
}

.dangerous a:hover {
  color: darkred;
  text-shadow: 2px 2px 2px chocolate;
}


footer {
  background: linear-gradient(to bottom, #4ea642, 75%, #0e360e, 85%, black, 90%, #ff4800);
}
