/* Summary
 *
 * General-setup
 * Fonts
 * Header-and-navigation-menu
 * Main-content-general-style
 * Messages-and-alerts
 * Footer
 */



/* General-setup */

body {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.highlight {
  display: block;
  color: #9d1616;
  font-size: 1.19rem;
  text-align: center;
  border: 2px dashed #80570a;
  border-radius: 10px;
  background-color: #ffb777;
}

/* Fonts */

.corben-regular {
  font-family: "Corben", serif;
  font-weight: 400;
  font-style: normal;
}

.corben-bold {
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
}

.exo-2-generic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.bungee-inline-regular, section button {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Header-and-navigation-menu */

header {
  color: white;
  background: linear-gradient(navy, royalblue);
  border-bottom: 5px ridge black;
}

header h1 {
  width: fit-content;
  padding: 10px 0;
  margin: 0 auto;
  text-shadow: 2px 2px 25px cyan;
}

nav {
  background: royalblue;
  color: white;
  font-weight: bold;
  border-bottom: 10px ridge cornflowerblue;
  text-shadow: 2px 2px 7px black;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 0 0 10%;
  min-height: 80px;
}

nav li {
  list-style: none;
  border: 5px outset whitesmoke;
}

nav a {
  background-color: #4f8cc2;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #3f688c;
  color: yellow;
}

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 20px 70px;
}

.nav-item:active {
  background-color: deepskyblue;
}

#logout, #logout button {
  border: none;
  background-color: #ff1717;
  height: 100%;
}

#logout button {
  color: white;
  text-shadow: 2px 2px 7px black;
}

#logout button:hover {
  color: yellow;
  background-color: firebrick;
}

#logout button:active {
  background-color: red;
}

.nav-profile-pic {
  background-size: cover;
  display: inline;
  padding: 35px;
}

.nav-username {
  color: gold;
  border: none;
  margin: auto auto;
  font-size: 1.2em;
}

/* Main-content-general-style */

main {
  padding: 50px;
  min-height: 100vh;
  background:
    radial-gradient(70px circle at 5% 8%, yellow, 35px, yellow 40%, transparent 100%),
    url("background.svg");
  background-size: cover;
}

main > article {
  width: 80%;
  margin: 0 auto;
}

section {
  border-top: 3px outset coral;
  border-left: 2px outset gold;
  border-right: 7px inset #c96464;
  border-bottom: 5px inset #c96464;
  border-radius: 0px;
  padding: 30px;
  margin: 5% auto 20px auto;
  min-width: 450px;
  width: fit-content;
  max-width: 500px;
  background: linear-gradient(to right, yellow, 5%, coral, tomato);
}

section h2, h3 {
  color: #870c25;
  margin: 0 0 0 auto;
  padding: 5px 10px 0px 10px;
}

section p {
  color: #870c25;
  margin: 0 0 0 auto;
  padding: 5px 10px 0px 10px;
  font-size: 1.09rem;
}

section hr {
  border-color: firebrick;
  margin-bottom: 20px;
}

section form div {
  text-align: right;
  margin-bottom: 1rem;
}

section form > div label, fieldset {
  color: maroon;
  border-color: firebrick;
}

section form label {
  font-weight: bold;
  min-width: 80px;
  padding: 5px;
}

section form input {
  background: #f19b76;
  border: 2px solid #535ba9;
  border-radius: 10px;
  padding: 5px;
  width: 24em;
  color: maroon;
  font-weight: 500;
}

section button.submit {
  color: aliceblue;
  background: linear-gradient(#87397c, 45%, coral);
  padding: 7px 30px;
  border: 2px solid indianred;
  border-radius: 3px;
  margin-top: 15px;
}

section button.submit:hover {
  color: gold;
  background: linear-gradient(#87397c, 45%, coral);
}

section button.submit:active {
  background: linear-gradient(#6f005f, 45%, #fd5353);
}

section div#reset-password {
  font-size: 0.95rem;
}

section div.bottom-link {
  text-align: center;
}

section a {
  color: darkslateblue;
}

section a:hover {
  color: white;
}

fieldset {
  text-align: center;
}

.avatar {
  text-align: center;
}

.avatar figcaption {
  color: maroon;
}

.avatar img {
  background: url("default-avatar.png") no-repeat center;
  background-size: 100px 100px;
  border: 5px solid rebeccapurple;
  border-radius: 15px;
}

.caption-paragraph {
  text-align: center;
  color: rebeccapurple;
  font-style: bold;
}

/* Messages-and-alerts */

.errorlist {
  list-style: none;
  color: blue;
  font-size: 1.1em;
  width: 350px;
}

.errorlist li {
  box-sizing: border-box;
}


li.success {
  color: green;
}

li.error {
  color: red;
}

/* Footer */

footer {
  background-color: #4ea642;
  padding: 0.5vh 1px;
  min-height: 50px;
}

footer p {
  font-size: 1.2rem;
  text-align: center;
}
