body {
  /* background: linear-gradient(#37032d, 37%, #d9bc25, #ae575b); */
  background: url("background_login.png");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

section {
  border-top: 1px solid orange;
  border-left: 1px solid gold;
  border-right: 6px solid #c96464;
  border-bottom: 2px solid #c96464;
  border-radius: 20px;
  padding: 30px;
  margin: 10% 0 200px 65%;
  min-width: 200px;
  width: fit-content;
  background:
    linear-gradient(to right, yellow, 5%, coral, tomato);
}

form label {
  color: maroon;
  font-weight: bold;
  min-width: 80px;
  text-align: right;
  padding: 5px;
}

form input {
  color: #232647;
  background: #f19b76;
  border: 2px solid #535ba9;
  border-radius: 10px;
  padding: 5px;
  width: 24em;
}

form div {
  text-align: right;
  align-items: center;
  margin-bottom: 1rem;
  min-width: 0;
}

.errorlist.nonfield {
  color: blue;
  max-width: 400px;
}

h1 {
  color: gold;
  background: darkgray;
  margin: 40px auto 0 auto;
  width: fit-content;
}

section h2 {
  color: #870c25;
  margin: 0 0 0 auto;
  padding: 5px 10px 0px 10px;
}

section hr {
  border-color: firebrick;
  margin-bottom: 20px;
}

p:has(button.submit) {
  text-align: right;
}

button.submit {
  color: aliceblue;
  background: linear-gradient(#87397c, 45%, coral);
  padding: 7px 20px;
  border: 2px solid indianred;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 15px;
}

p#reset-password {
  text-align: right;
  font-size: 0.85rem;
}

p#register {
  text-align: center;
}

p.links a {
  color: darkslateblue;
}

p.links a:hover {
  color: white;
}
